*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: 'Poppins';
}

.min-height-100 {
  min-height: 100vh;
}

.icon-navigation-action {
  font-size: 2rem;
}

.navigation-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.reset-link {
  color: unset;
  text-decoration: none;
}

.reset-button {
  border: none;
  outline: 0;
  background-color: unset;
  cursor: pointer;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.wrap-icon {
  display: flex;
  flex-direction: column;
}

.bgimage {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('../public/image/book.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #F3EEEA;
}

.margin-bottom-4rem {
  margin-bottom: 30rem;
  /* text-align: center; */
}

.fa-icon-size {
  font-size: 1.2rem;
}

.container-check {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bg-green {
  color: green;
}

.bg-gray {
  color: #aaa;
}

.sticky-top {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 3;
}

.no-underline {
  text-decoration: none;
}

.text-user-account {
  font-size: 1.2rem;
}

.py-8 {
  padding: 2rem 0;
}

.container-space {
  display: grid;
  row-gap: 2rem;
}

.container-icon-text {
  display: flex;
  gap: .7rem;
  align-items: center;
}