*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: arial;
}
.bg-blue {
  background-color: red;
}

.text-white {
  color: white;
}

.p-4 {
  padding: 2rem;
}