*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: 'Poppins';
}

.min-height-100 {
  min-height: 100vh;
}

.icon-navigation-action {
  font-size: 2rem;
}

.navigation-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.reset-link {
  color: unset;
  text-decoration: none;
}

.reset-button {
  border: none;
  outline: 0;
  background-color: unset;
  cursor: pointer;
}

.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-icon {
  display: flex;
  flex-direction: column;
}

.bgimage {
  background-image: url('../public/image/book.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh; 
}

.margin-bottom-4rem {
  margin-bottom: 4rem;
}