.about-text {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  margin: 15px 0px;
  margin-left: 170px;
  text-align: justify;
  color: #000000;
  margin-top: -20%;
  padding: 10px;
}

.about-text1 {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  margin: 15px 0px;
  margin-left: 170px;
  text-align: justify;
  color: #000000;
  margin-top: -27%;
  padding: 10px;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}


.text-container {
  flex: 2;
}

.about-heading {
  color: #000;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  margin-left: 3%;
  margin-top: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-style: italic;
  font-weight: 900;
  line-height: normal;
}

.team-section {
  text-align: center;
  margin-top: 100px;
}

.team-heading-container {
  position: relative;
  display: inline-block;
}

.team-heading {
  color: #112049;
  margin-left: 0%;
  margin-bottom: 2px;
}

.team-line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 200px;
  background-color: #708cd5;
}

/* kotak */
.member-container {
  margin-top: 20px;
}

.member-box {
  position: relative;
  height: 250px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.member-box .member-content .member-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  margin: 0 auto;
}

.member-box .member-content {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
.member-box h4 {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #112049;
  margin-top: 1.2rem;
}

.member-box p {
  font-size: .8rem;
  margin: -5px;
  margin-bottom: 1rem;
  color: #000000;
}

.member-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30%;
  background-color: #378cdb;
  border-radius: 8px 8px 0 0;
  z-index: -1;
}

.member-box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  z-index: -1;
}

.member-box .social-icons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1f3c88;
  cursor: pointer;
}

.social-icons > * {
  margin: 20px 5px;
}

.social-icons svg {
  width: 24px;
  height: 24px;
}

.photo {
  object-fit: cover;
  object-position: center;
}

