.site-name {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: bold;
  right:270px;
  color: black; 
  margin-bottom: 10px; 
  position: relative;
  top: -540px; 

}


.user-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  top: 50px;
}

.red-box {
  width: 60%;
  height: 380px;
  background-color: #E0E0E0;
  margin: 10% auto;
  position: absolute;
  top: -1%;
  z-index: 1;
  border: 1px solid #B7B1B1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); 
}

.input-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.input-container input {
  width: 80%;
  padding: 8px;
  margin: 0 auto;
  margin-bottom: -10px;
  background-color: white;
  border: 1px solid #000; 
  border-radius: 5px;
}
.input-container textarea {
  width: 80%;
  padding: 60px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #000; 
  border-radius: 5px;
  resize: vertical; 
  line-height: 1.5; 
  text-align: center; 
}

.button-container {
  text-align: center;
}

.save-button {
  background-color: #0b0b0b;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 36%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}