* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url('../../public/image/459-background.png');
  background-position: center;
  background-size: cover;
  position: relative;
}


.form-box {
  width: 90%;
  max-width: 450px;
  max-height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px 60px 70px;
  text-align: center;
}

.form-head {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
}

#taskIcon {
  max-width: 30%;
}

.form-head h1 {
  font-size: 20px;
  margin-left: 70px;
  color: black;
}

.form-box #title {
  font-size: 20px;
  /* Change this value to the desired font size */
  margin-bottom: 3rem;
  top: 30px;
  color: black;
  position: relative;
}

.input-field {
  background: #eaeaea;
  margin: 15px 0;
  border-radius: 40px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

.input-field i {
  margin-left: 15px;
  color: #999;
}

form p {
  text-align: left;
  font-size: 2em;
}

form p a {
  text-decoration: none;
  color: black;
}

/* Button signIn & signUp */

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-field button {
  flex-basis: 48%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
}

/* my Design */

.signContainer p,
a {
  font-size: 1rem;
  margin-top: .8em;
}

.signContainer a {
  margin-left: 6px;
  color: green;
}

.signBtn {
  width: 100%;
  background: #3c00a0;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 1s;
  font-size: 1.2em;
}

#signUpContainer {
  display: none;
}

.input-group {
  height: 14em;
}

.btn-field button .disable {
  background: #eaeaea;
  color: #555;
}

.navigation {
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  width: 100%;
}

.navigation-icons {
  display: flex;
  justify-content: center;
}

.navigation-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  cursor: pointer; /* Menjadikan kursor menjadi tangan */
}

.navigation-icon i {
  font-size: 24px;
}

.icon-label {
  color: #000; /* Warna label */
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold; /* Teks tebal */
}

/* Responsivitas */
@media only screen and (max-width: 768px) {
  .navigation-icon {
    margin: 0 10px; /* Mengurangi margin pada layar kecil */
  }
}