.userPage-container {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
}

#lock-img {
  margin-bottom: 20px;
  margin-left: 6em;
}

#pasw-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

#formSubmit{
  margin-bottom: 10px;
}

#userPage-btn {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#userPage-btn1 {
  width: 100%;
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#userPage-btn:hover{
  background-color: #0250a3;
}
