.userPage-container {
  margin: 0 auto;
  background-color: #F3EEEA;
  border-radius: 5px;
}

#pasw-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#formSubmit{
  margin-bottom: 10px;
}

#userPage-btn {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#userPage-btn1 {
  width: 100%;
  background-color: red;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

#userPage-btn:hover{
  background-color: #0250a3;
}

#userPage-btn1:hover{
  background-color: rgb(192, 12, 12);
}
