h2 {
  color: #112049;
  font-size: 20px;
  line-height: 30px;
  margin-top: 180px;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}

h2::after {
  content: "";
  display: block;
  border-bottom: 2px solid#708CD5;
  width: 350px;
  position: absolute;
  margin-top: -40px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 50px;
}

h3 {
  position: relative;
  color: #0d3298;
  margin-right: 10px;
}

h3::before {
  content: attr(data-section-counter);
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #1f3c88;
  color: white;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  margin-right: 15px;
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}

.aboutText-points h3 {
  margin-bottom: 20px;
}

.aboutText-points h2 {
  margin-bottom: 20px;
  font-weight: 900px;
  font-size: 20px;
}

.aboutText-points p1 {
  margin-bottom: 20px;
}

h3[data-section-counter="1"] {
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 10px;
}

h3[data-section-counter="2"] {
  margin-bottom: 10px;
  margin-left: 80px;
  margin-top: 10px;
}

h3[data-section-counter="3"] {
  margin-bottom: 10px;
  margin-left: 80px;
  margin-top: 10px;
}

.about-text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 700;
  text-align: justify;
}

.aboutText-points {
  padding: 14px;
}

.text1{
  display: block;
  margin-left: 80px;
  text-align: justify;
}
