.search-container {
  margin: 0 auto;
  background-color: white;
  display: flex;
  column-gap: 1rem;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  border: 1px solid #333;
}

.search-input {
  padding: 0.8rem; /* Sesuaikan proporsi padding agar ukuran tetap */
  font-size: 1rem;
  width: 100%;
  border: none;
  outline: none;
}

.search-icon {
  font-size: 1.2rem;
}

/* Gaya tambahan untuk menangani kasus ketika hasil pencarian tidak ditemukan */
.search-not-found {
  animation: none; /* Menonaktifkan animasi ketika hasil pencarian tidak ditemukan */
}
